#search_values
  - last_obj = ''
  - if @found_values.length < 1
    %h4 There is no results
  - else
    - @found_values.each do |e|
      - if last_obj != e["attributes"]["type"] || last_obj == ''
        .title_nf.dark_stripe
          %h4.arrow-down.header-content= e["attributes"]["type"]

      - case e["attributes"]["type"]
        - when 'FeedPost'
          = e["Body"]
        - when 'Account'
          = link_to e["Name"], :controller => 'sobjects', :action => 'edit', :id => e["Id"], :type => 'Account'
        - when 'Contact'
          = link_to e["Name"], :controller => 'sobjects', :action => 'edit', :id => e["Id"], :type => 'Contact'
        - when 'Lead'
          = link_to e["Name"], :controller => 'sobjects', :action => 'edit', :id => e["Id"], :type => 'Lead'
      - last_obj = e["attributes"]["type"]
      %br
